<%= turbo_frame_tag dom_id(note) do %>
  <li>
    <%= note.text %>
    <%= link_to 'Open', note_path(note), data: { turbo_frame: '_top' } %>
    <%= link_to 'Edit', edit_note_path(note) %>
    <%= link_to 'Delete', note_path(note), data: { turbo_method: :delete } %>
  </li>
<% end %>