<%= link_to 'Back', root_path %>
<hr>
<h1>Showing note</h1>

<p>
  <span><%= @note.text %></span>
</p>
<%= link_to 'Add date', new_note_date_note_path(@note), data: { turbo_frame: dom_id(DateNote.new) } %>
<hr>

<%= turbo_frame_tag dom_id(DateNote.new) %>

<ul>
  <% @note.date_notes.each do |date| %>
    <li>
      <%= date.date %>
      <br>
      <%= link_to 'Edit', [:edit, @note, date] %>
      <%= button_to 'Delete', [@note, date], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
    </li>
  <% end %>
</ul>