<%= link_to 'Back', root_path %>
<hr>
<h1>Showing note</h1>

<p>
  <span><%= @note.text %></span>
</p>
<%= link_to 'Add date', new_note_date_note_path(@note), data: { turbo_frame: dom_id(DateNote.new) } %>
<hr>

<%= turbo_frame_tag dom_id(DateNote.new) %>

<ul>
  <%= turbo_frame_tag 'date_notes' do %>
    <% @note.date_notes.each do |date| %>
      <%= turbo_frame_tag date do %>
        <%= render date %>
      <% end %>
    <% end %>
  <% end %>
</ul>